nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(173, 169, 169) ;
    color: white;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.signup {
    display: flex;
    border-style: solid;
    margin: auto;
    margin-top: 200px;
    padding: 60px;
    width: 20%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(123, 123, 123);
    border-radius: 20px;
    background-color: rgb(241, 241, 246);
}

.signup-form {
    width: 100%;
}

input[type=text], [type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}